<p id="notice"><%= notice %></p>

<div class="editOptions">
	<% if @current_user.present? %>
		<%= link_to 'Edit', edit_post_path(@post) %>
		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end  %>
</div>

<div class="postFrame">
	<div class="postTitle">
		<h2><%= @post.title %></h2>
	</div>
	<div class="posterId">
		Posted by: <%= @post.user.name %>, on: <%= @post.created_at %>
	</div>

	<div class="postContent">
				<%= @post.content %>
	</div>

</div>
